/*ESTILOS PERSONALES*/

@import url('https://fonts.googleapis.com/css2?family=Magical+Shiny+Script&display=swap');

body {
  margin: 0;
  background-color: #164472;
  color: #e2e8f0;
  background: url('https://cdn.donmai.us/original/89/2f/892f1b199ad9891a1ddf67b7da8bf297.jpg') no-repeat center center fixed;
  background-size: cover;
  
}

.home {
  position: relative;
  text-align: center;
  color: white;
}

.background-animation {
  position: fixed;
  width: 90%;
  height: 110%;
  background: url('https://wallpapercave.com/wp/wp4786224.jpg') no-repeat center center;
  background-size: cover;
  z-index: -1;
}

/* About Page Styles */

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.about-page h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 16px;
}

.about-page p {
  font-size: 1rem;
  max-width: 600px;
  text-align: center;
  line-height: 1.5;
}

/* Navigation Menu Styles */

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

@media (min-width: 768px) {
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
